[submodule "cookbooks/apt"]
	path = cookbooks/apt
	url = https://github.com/opscode-cookbooks/apt.git
[submodule "cookbooks/build-essential"]
	path = cookbooks/build-essential
	url = https://github.com/opscode-cookbooks/build-essential.git
[submodule "cookbooks/git"]
	path = cookbooks/git
	url = https://github.com/opscode-cookbooks/git.git
[submodule "cookbooks/vim"]
	path = cookbooks/vim
	url = https://github.com/opscode-cookbooks/vim.git
[submodule "cookbooks/java"]
	path = cookbooks/java
	url = https://github.com/opscode-cookbooks/java.git
[submodule "cookbooks/yum-epel"]
	path = cookbooks/yum-epel
	url = https://github.com/opscode-cookbooks/yum-epel.git
[submodule "cookbooks/windows"]
	path = cookbooks/windows
	url = https://github.com/opscode-cookbooks/windows.git
[submodule "cookbooks/dmg"]
	path = cookbooks/dmg
	url = https://github.com/opscode-cookbooks/dmg.git
[submodule "cookbooks/runit"]
	path = cookbooks/runit
	url = https://github.com/opscode-cookbooks/runit.git
[submodule "cookbooks/packagecloud"]
	path = cookbooks/packagecloud
	url = https://github.com/computology/packagecloud-cookbook.git
[submodule "cookbooks/chef_handler"]
	path = cookbooks/chef_handler
	url = https://github.com/opscode-cookbooks/chef_handler.git
[submodule "cookbooks/yum"]
	path = cookbooks/yum
	url = https://github.com/opscode-cookbooks/yum.git
